<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Auth{% endblock %} - Voyage'25</title>
    <meta name="robots" content="noindex, nofollow">
    <link href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap-icons.min.css') }}">
    <style>
        body {
            display: flex;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }
    </style>
</head>

<body class="w-100">
    <main class="container">
        <div class="row justify-content-center">
            <div class="col-12" style="max-width: 400px;">
                <div class="card shadow border-dark-subtle">
                    <div class="card-header text-center bg-secondary-subtle text-dark">
                        <h5 class="mt-2 mb-1 font-monospace">Voyage'25 : Admin Portal</h5>
                    </div>
                    <div class="card-body p-4">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}

                        {% block form_content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.min.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>

</html>