.env
/venv/
__pycache__/
*.db

    
# Ignore all contents of the public build directory except .gitkeep
public/*
!public/.gitkeep

# Node.js whatsapp worker
/whatsapp-worker/node_modules
/whatsapp-worker/.wwebjs_auth/
/whatsapp-worker/.wwebjs_cache/