{% extends "layouts/auth.html" %}

{% block title %}Login{% endblock %}

{% block form_content %}
<form method="POST" action="{{ url_for('auth.login') }}" novalidate>
    {{ form.hidden_tag() }}

    <div class="mb-3">
        {{ form.username.label(class="form-label mb-1") }}
        {{ form.username(class="form-control", placeholder="Enter your username") }}
    </div>

    {{ form.password.label(class="form-label mb-1") }}
    <div class="mb-3 input-group">
        {{ form.password(class="form-control", id="password-field", placeholder="Enter your password") }}
        <button class="btn btn-outline-secondary" type="button" id="toggle-password-btn">
            <i class="bi bi-eye-fill"></i>
        </button>
    </div>

    {% if turnstile %}
        <label>Captcha</label>
        <div class="mt-1" style="min-height: 76px;">
            {# flask-turnstile library doesn't support light theme.#}
            <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
            <div class="cf-turnstile" data-sitekey="{{ config.TURNSTILE_SITE_KEY }}" data-theme="light"></div>
        </div>
    {% endif %}

    {{ form.submit(class="btn btn-primary w-100 mt-2") }}
</form>
{% endblock %}

{% block scripts %}
<script>
    // Password visibility toggle
    const togglePasswordBtn = document.getElementById('toggle-password-btn');
    const passwordField = document.getElementById('password-field');
    const icon = togglePasswordBtn.querySelector('i');

    togglePasswordBtn.addEventListener('click', function () {
        const isPassword = passwordField.type === 'password';
        passwordField.type = isPassword ? 'text' : 'password';
        icon.classList.toggle('bi-eye-fill');
        icon.classList.toggle('bi-eye-slash-fill');
    });
</script>
{% endblock %}